.App {
  text-align: center;
}

.section{
  height: 100vh;
  width: 100vw;
}
h1{
  margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:180px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#about-section{
  background-image: url("./media/Screen\ Shot\ 2019-01-04\ at\ 6.37.19\ PM.png");
  background-size: cover;
  background-repeat: no-repeat;

}