.App {
  text-align: center;
}

.section{
  height: 100vh;
  width: 100vw;
}
a{
  text-transform: uppercase;
  text-decoration: none;
}
.navbar{
  width: 100vw;
  height: 50%;
  background-color:rgb(49, 49, 49);
  position: fixed;
  top: 0;
  z-index: 999;
}
.openButton{
  margin: 0 auto;
  color: rgba(255, 255, 255, .5);
  opacity: (0.5);
  font-size: 30px;
}
.closeButton{
  margin: 0 auto;
  margin-top: 50px;
  color: rgba(255, 255, 255, .5);
  opacity: (0.5);
  font-size: 30px;
}
h1 {
  margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:100px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
}
p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight:bold;
  color:white;
  text-transform: uppercase;
}
.main-container{
    margin: 0;
    position: relative;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:100px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#about-section{
  /* margin-top: -90px; */
  background-image: url("./media/jimmyright.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -161px;
}
#gallery-section{
  
  background-image: url("./media/jungle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -161px;
}
#press-section{
  background-image: url("./media/cowboy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -161px;
}
#contact-section{
  background-image: url("./media/ocean.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -161px;
}
.section-dropdown{
  height: 100vh;
  width: 100vw;
  background-color:rgb(49, 49, 49);
  margin-left: -161px;
 
}
.footer{
  margin-top: -18px;
  background-color:rgb(49, 49, 49);
}
.footer a{
  padding-top: 40px;
}
.social-links a{
  display: inline;
  color: white;
  margin: 20px;
}

.nav-items a{
  display: inline;
  color: white;
  margin: 20px;
  font-size: 25px;
}
.nav-items{
  margin-top:100px;
}

#copyright{
  margin-top:40px;
}
.nav-button{
  color: white;
  font-size: 45px;
  position: absolute;
  top:20px;
  left: 20px;
}
.contact-form{
  margin-top: 100px;
}