@font-face {
  font-family: 'GabrielBad';
  src: url('../src/utils/fonts/gabriele-bad.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.App {
  text-align: center;
  background-image: url("https://64.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_orh7h7ephj1ve5gdao1_500.gifv");
  background-size: contain;
}
.video-button{
  z-index: 99999;
}
a:hover{
  text-decoration: none !important;
}
a{
  text-decoration: none !important;
}
/* .fire{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("https://64.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_orh7h7ephj1ve5gdao1_500.gifv");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  z-index: 9999 !important;
} */
body, html{
  scroll-behavior: smooth;
  overflow-x:hidden;
}

h1, h2, h4,p,li, a, button{
  font-family: 'GabrielBad';
  text-shadow: 2px 2px #000;
  outline:none;
  text-decoration: none;
  z-index: 99999;
}
.demo-vid-img{
  height: 100px;
  width: 200px;
  cursor: pointer;
  
}
#char-header{
  position: relative;
  left:65%;
  margin-bottom:-120px;
}
.main-char-header{
  position: relative;
  margin-bottom: 100px;
  margin-left: 50px;
}

.social-links a:hover{
  cursor: pointer
}
span{
  text-decoration: none;
  color: white !important;
}
a:link{
  text-decoration: none;
}
.ice-logo{
  background-color: #ec6f00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:7px;
  margin-right:40px;
  box-shadow: 1px 1px 2px #000;
  width:200px
}

.navitems a{
  position: relative;
  top: 30px;
  left: 40px;
  display: block;
  
}
li{
  list-style: none;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-family: 'GabrielBad' ;
  color:white;
}
row{
  margin-top: 50px;
}


a{
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.navbar{
  width: 100%;
  height: 50%;
  background-color:rgb(49, 49, 49);
  position: fixed;
  top: 0;
  z-index: 999;
}
.openButton{
  margin: 0 auto;
  color: rgba(255, 255, 255, .5);
  opacity: (0.5);
  font-size: 30px;
}
.closeButton{
  margin: 0 auto;
  margin-top: 50px;
  color: rgba(255, 255, 255, .5);
  opacity: (0.5);
  font-size: 30px;
}
h1{
  margin: 0;
  position: relative;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size:70px;
  font-weight:bold;
  color:white;
  text-transform: uppercase;
}
#home-section{
  top: 0;
  width: 100%;
}
.home-text{
  position: relative;
  top:175px;
  font-weight:bold;
  color:white;
  text-transform: uppercase;
}
h2 {
  margin: 0;
  position: relative;
  top: 9%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
    font-size:50px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
}
#home-section p {
  margin: 0;
  position: relative;
  top:12%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight:bold;
  color:white;
  text-transform: uppercase;
}
.main-container{
    margin: 0;
    position: relative;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:100px;
    font-weight:bold;
    color:white;
    text-transform: uppercase;
   
}
.main-demo-col{
margin-left: -150px;
}
.character-col{
  margin-left: 120px;
  margin-top:180px;
}
.character2-col{
  margin-top:180px;
}
/* responsive video */
@media (min-aspect-ratio:16/9){
  #home-section video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio:16/9){
  #home-section video{
    width: auto;
    height: 100%;
  }
}
.container{
  color:white;
}
#about-section{
  /* margin-top: -90px; */
  background-image: url("https://jimmyburns.s3-us-west-1.amazonaws.com/jimmyright.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
 
}
.intro-container{
  
  height: 100%;
}
.intro-container p{
  text-indent: 50px;
  text-align: left;
}

.intro-col{
  max-width: 50px;
  width: 100%
}
#cod{
  margin-top:100px;
  height: 100%;
  width: 100%;
}
#cod-banner {
  width: 75%;
  height: 100%;
  margin-top:100px;
}
/* #cod-container{
  padding-bottom: 100px;
  
  
} */

#demos-dropdown{
  height: 100%;

}

.cod-game-image img{
  margin-top: 20px;
  height: 400px;
  width: 300px;
  box-shadow: 5px 10px 18px rgb(37, 37, 37);
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.cod-game-image img:hover{
  transform: scale(1.1);
}
#cod-row h4, #copyright{
  color:white;
}
.demo-vids {
    padding-top: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.vid-text{
  margin: 0;
  position: relative;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  margin-top:20px;
  transform: translate(-50%, -50%);
  font-size:50px;
  font-weight:bold;
  color:white;
  text-transform: uppercase;
  
}

#demos-section{
  height: 100%;
  width: 100%;
  margin-top:180px;
  
}

.first-col{
  float: right;
}
.third-col{
  float:left;
}
.demo-vids{
  height: 100%;
  width: 100%;
}
.video-block{
  margin: 0;
  position: relative;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-27%, -10%);
}
.gallery-header{
margin-top:100px;
}
#gallery-section{
  
  background-image: url("https://jimmyburns.s3-us-west-1.amazonaws.com/jungle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
#social-header{
  top: 40px;
}
.social-1 a, .social-2 a{
  display: inline-block;
  background-color: #ec6f00;
  border-radius: 50px;
  margin: 20px;
  color:white;
  box-shadow:5px 5px 2px rgb(147, 74, 0), 2px 2px 20px 2px black inset; 
  text-decoration: none !important;
  transition: all .2s ease-in-out; 
}
.social-1 a:hover, .social-2 a:hover{
  text-decoration: none !important;
  transform: scale(1.1);
}
#social-icon, #cameo{
  width:250px;
  height: auto;
}
#press-section{
  background-image: url("https://jimmyburns.s3-us-west-1.amazonaws.com/cowboy_long.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:100vh;
}
#press-dropdown img{
  margin-top: 100px;
  height: 500px;
  width: 400px;
  box-shadow: 5px 10px 18px #000;
  border-radius: 5px;
  transition: all .2s ease-in-out; 
}
 
#press-dropdown img:hover{
  transform: scale(1.1);
}
#contact-section{
  background-image: url("https://jimmyburns.s3-us-west-1.amazonaws.com/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

  
}
#about-row{
  margin-top: 50px;
}
.section-dropdown{
  height: 100%;
  width: 100%;
  padding-bottom:50px;
}
#press-click-button{
  font-size:25px;
  color:white;
  text-decoration: none;
}
.gallery-container{
  width: 75%;
  height:75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
#srgt-frank{
  width: 50%
}
.awards-header{
  margin-top:50px;
}
.awards-row{
  margin-top:100px;
  width:100%;
  display: flex;
  justify-content: center;
  color: white;
}
#trophy-icon{
  transform:scale(3);
  
}
.award-block{
  width:90%;
}
.awards-row p{
  margin-top:30px;
}

.footer{
  /* margin-top: -18px; */
  background-color:rgb(0,0,0);
}
.footer a{
  padding-top: 40px;
}
.social-links a{
  display: inline;
  color: white;
  margin: 20px;
}

.nav-items a{
  display: inline;
  color: white;
  margin: 20px;
  font-size: 25px;
}
.nav-items{
  margin-top:100px;
}

#copyright{
  /* margin-top:40px; */
}
.nav-button{
  color: white;
  font-size: 45px;
  position: absolute;
  top:20px;
  left: 20px;
}
.contact-form{
  margin-top: 100px;
}
#about-container{
  height: 100%;
  padding-bottom:50px;
}
#char-mobile-header{
  display: none;
}
.roles-block{
  background-color: #ec6f00;
  border-radius: 15px;
  margin: 25px;
  justify-content: center;
  box-shadow:5px 5px 2px rgb(147, 74, 0), 2px 2px 20px 2px black inset;  
  
}
.roles-block li{
  text-align: center;
}
#about-row{
  justify-content:center;
}










/* mobile */
@media only screen and (max-width: 600px) {
  body, html{
    scroll-behavior: smooth;
    overflow-x:hidden;
  }
  #home-section{
    height: 50vh;
  }
  .home-text{
    top:200px;
  }
  #home-section video {
    object-fit: contain;
    position: absolute;
    top: -50px;
    left: 0;
  }
  .main-char-header{
    width: 100%;
    display:flex;
    left:50%;
  }
  .character-container div{
    display:inline;
    
  }
 
  .character-col{
    top:100px;
  }

  #char-header{
    display:none;
  }
  #char-mobile-header{
    display:block;
  }
  .main-char-header{
    font-size:50px;
    top:20px;
  }
  #gallery-section,#press-section,#contact-section, #about-section{
    background-size: cover;
    width: 100%;
    height:100vh;
    
  }
  #gallery{
    width: 100%;
    height:auto;
  }
  .gallery-container{
    width:100%;
    height: auto;
  }
  .image-gallery{
    width:80%
  }
  .gallery-header{
    top:100px;
  }

  .press-header{
    top:50px;
    
  }
  
  #press-click-button{
   font-size: 15px;
   color: white;
   text-decoration:none;
   
  }
  #press-section a{
    bottom: 25px !important;
  }
  #press-dropdown div{
    display: block;
    margin: 0 auto;
    
    
  }
  #press-dropdown a{
    width:80vw;
  }
  #press-dropdown img{
    width:80vw;
    display:relative;
    left: 0;
  }
  .award-block{
    padding-bottom:50px;
  }
  .contact-form{
    margin-top: -25px;
  }
  #about-row{
    display:block;
  }

  #copyright{
    margin-top:25px;
  }
  .social-links{
    margin-top:50px;
  }
}
